doctype html
html
	head
	body
		h4 User information
		br
		a(href='http://localhost:3000/search') Search 
		br
		a(href='http://localhost:3000/addUser') Add
		br
		each user in users
			p #{user.firstname} #{user.lastname} #{user.email}

